Django==4.1.4
django-autoslug==1.9.8
django-countries==7.5
django-environ==0.9.0
django-filter==22.1
django-phonenumber-field==7.0.1
djangorestframework==3.14.0
djoser==2.1.0
phonenumbers==8.13.2
Pillow==9.3.0
psycopg2-binary==2.9.5
pyflakes==3.0.1
pyjwt==2.6.0
tomli==2.0.1
pytest-factoryboy==2.5.1
pytest==7.2.0
pytest-django==4.5.2
Faker==15.3.4
pytest-cov==4.0.0
djangorestframework_simplejwt

flake8==6.0.0
isort==5.11.3
black==22.12.0